@font-face {
  font-family: 'HiMelody';
  src: url('AveriaLibre-Regular.ttf') format('truetype')
}

  @font-face {
    font-family: 'YsabeauInfant';
    src: url('YsabeauInfant.ttf') format('truetype')
  }

body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 238, 214);
}

  h1 {
    font-family: 'HiMelody';
    font-size: 25px;
    color:  rgb(231,45,118) ;
    margin-bottom: -0.5em;
        font-weight: bold;
          margin-top: -3.5em;
    
  }

  h2 {
    font-family: 'YsabeauInfant';
    font-size: 25px ;
    color:rgb(85, 85, 85);    
    margin-left: 13em;
    margin-top: -12em;
  }


.background {
  display: flex;
  justify-content: flex-end;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin: 25px;
  padding: 7px;
  position: relative;
}

.prev,
.next {
  background-color: #ccc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 180px;
}


.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

header {
  background-color: rgb(231,45,118) ;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'HiMelody';
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 50px;
}

header ul li {
transform: scale(2.3);
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header ul li {
  margin-right: 20px;
}

header ul li:last-child {
  margin-right: 0;
  margin-left: auto;
}

header ul li a {
  text-decoration: none;
  color: rgb(252, 238, 214);
}

header ul li:first-child {
  margin-left: 30px;
  }

header ul li:nth-child(1) {
   margin-right: 80px;
  }

header ul li:nth-child(2) {
   margin-right: 80px;
   z-index: 2;
  }

header ul li:nth-child(3) {
   margin-right: 115px;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #43917b;
  width: 120px;
  height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:0px 0px 4px 4px;
  margin-left: -15px;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content a {
color: rgb(252, 238, 214);
padding: 12px 16px;
text-decoration: none;
display: block;
line-height: 0.03;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sub-dropdown-content {
  display: none;
  margin-left: 90px;
  margin-top: -24px;
  width: 140px;
  background-color:#43917b;
  border-radius:0px 4px 4px 4px;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown-content a {
  line-height: 0.0005;
}

header ul li:nth-child(1) a:hover,
header ul li:nth-child(2) a:hover,
header ul li:nth-child(3) a:hover,
header ul li:nth-child(4) a:hover {
  color: rgb(246, 151, 68);
}

.dropdown:hover .dropbtn,
.dropdown-content a:hover {
  rgb(246, 151, 68);
}

.center {
display: flex;
justify-content: center;
align-items: center;
}


.banner {
    background-image: url('bandeauSophie.png'); /* Remplacez 'votre-image.jpg' par le chemin de votre image de fond */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 98vw; /* Définissez la largeur à 100% pour qu'il couvre toute la largeur de l'écran */
  height:7vw; /* Réglez la hauteur de votre bandeau selon vos besoins */
}

  .banner2 {
    display: flex;
    margin-left: -1em;
  }

.banner img{
width: auto;
height: 100px;
max-width: 100vw; 
}

.banner2 img:first-child {
margin-left: 70px;
}

.banner2 img:last-child {
margin-right: 70px;
}

footer {
  background-color: rgb(231,45,118);
  padding: 8px;
  position: fixed;
  bottom: 0; 
  left: 0;
  right: 0; 
}

    footer {
      background-color: rgb(231,45,118);
      padding: 8px;
      position: fixed;
      bottom: 0; 
      left: 0;
      right: 0; 
    }

.footer-content {
  display: flex;
  justify-content: flex-end; /* To push "Me contacter" to the right */
  align-items: center; /* To vertically align the content */
}

    .footer-content a {
      text-decoration: none;
      color: rgb(252, 238, 214);
      font-weight: bold;
      font-family: 'HiMelody';
      transform: scale(1.7);
        margin-right: 150px;
    }
  
    .footer-content a:hover {
      color: rgb(246, 151, 68);
    }



    .dropdown {
      position: relative; /* Utilisez une position relative sur l'élément parent */
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute; /* Utilisez une position absolue sur le menu déroulant */
      background-color: #43917b;
      width: 120px;
      height: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin-left: -15px;
      top: 100%; /* Placez le menu déroulant sous l'élément parent */
      left: 0; /* Ajustez la position horizontale selon vos besoins */
    }
    
    .sub-dropdown {
      position: relative; /* Utilisez une position relative sur le sous-menu déroulant */
      display: inline-block;
    }
    
    .sub-dropdown-content {
      display: none;
      position: absolute; /* Utilisez une position absolue sur le sous-menu déroulant */
      background-color: #43917b;
      width: 140px;
      border-radius: 0px 4px 4px 4px;
      margin-left: 50px; /* Ajustez la position horizontale selon vos besoins */
      margin-top: -5px;
      top: 0; /* Placez le sous-menu déroulant à la même hauteur que l'élément parent */
      left: 100%; /* Placez le sous-menu déroulant à droite de l'élément parent */
    }

        /* Ajoutez ces styles CSS */
        .container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 20px; /* Augmentez la marge supérieure */
          margin-bottom: 50px;
        }

    
        .background {
          display: flex;
          justify-content: flex-start; /* Augmentez la largeur */
          flex: 1; /* Ajustez la largeur */
        }
    
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 25px;
          padding: 7px;
          position: relative;
          width: 350px; /* Ajustez la largeur des cartes */
        }

        .content-container {
          display: flex;
          justify-content: center;
          align-items: center;
          transform-origin: center;
          transform: scale(1); /* Ajustez la valeur de l'échelle en fonction de vos besoins */
        }
        
        .text-container {
          flex: 1;
        }
          .image-container {
            display: flex;
            justify-content: center;
          }
        .card {
          margin: 10px; /* Ajustez la marge entre les cartes selon vos besoins */
        }
          
        .card img {
          max-width: 100%; /* Permet aux images de se redimensionner correctement lors du zoom */
          height: auto;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: rgb(231,45,118);
          width: 120px;
          height: 150px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          border-radius: 0px 0px 4px 4px;
          margin-left: -15px;
          top: 100%; /* Placez le menu déroulant sous l'élément parent */
          left: 0; /* Ajustez la position horizontale selon vos besoins */
        }
        
        /* Modifier cette partie pour que le sous-menu apparaisse également lorsque vous survolez "Cabas de ville" */
        .dropdown:hover .dropdown-content,
        .sub-dropdown:hover .dropdown-content {
          display: block;
        }
        
        .sub-dropdown-content {
          display: none;
          position: absolute; /* Utilisez une position absolue sur le sous-menu déroulant */
          background-color: rgb(231,45,118);
          width: 140px;
          border-radius: 0px 4px 4px 4px;
          margin-left:0; /* Ajustez la position horizontale selon vos besoins */
          margin-top: 0px;
          top: 0; /* Placez le sous-menu déroulant à la même hauteur que l'élément parent */
          left: 100%; /* Placez le sous-menu déroulant à droite de l'élément parent */
        }
        
        /* Ajoutez cette partie pour que le sous-menu "Cabas de ville" apparaisse lorsque vous survolez "Cabas" */
        .sub-dropdown:hover .sub-dropdown-content {
          display: block;
        }
